# SQL Interview Questions  - Quiz


## Introduction

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

What are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________

TEXT, INTEGER, REAL, and BLOB are the 4 main categories of datatypes in SQLite3. Other common datatypes can be used from other kinds of SQL (such as INT that SQLite recognizes as the INTEGER category)


## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________

Primary Keys and Foreign Keys are utilized to establish a relationship between two tables in a relational database. The foreign key is a column or set of columns used to reference the primary key column in another table. The primary key is a column or set of columns where each value is unique and identifies a single row of the table.


## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
One-to-one: a single record in one table is related to a single record in another table. One-to-many: a single record in one table is related to one or more records in the second table, but a single record on the second table can only be related to one record in the first table. (This is the most common relationship) Many-to-many: a single record is related to one or more records in the second table and vice versa.

## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________
The 4 basic joins are below. Inner Join: returns records with matching values in both tables Left Join: returns all records from the left table and matching records in the right table Right Join: returns all records from the right table and matching records in the left table Outer Join: returns all records in both tables (with matching rows from both sides where available). When there is no match, the missing side will have NULL values.


## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________
GROUP BY enables you to group data together based on unique values. Rather than returning every row in a table, unique combinations are returned when values are grouped. It is typically used in conjunction with aggregate functions to summarize values (i.e. SUM, COUNT, AVG, MIN, MAX, etc.)


## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________
A join table breaks a many-to-many relationship into two one-to-many relationships by including the value of the primary keys of the two tables it joins as foreign keys.


## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.